{{ header }}
{{ hyper_positions_top_content }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
    <!-- Product Area Start -->
        <div class="product-area pt-30">
            <div class="container">
                <div class="row">
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="#">
                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <h4><a href="#">Гидравлический насос</a></h4>
                                <p><span class="price">
                                    Вид: шестеренчатый двухсекционный.
                                    <br>
                                    Производитель: Parker (use for J.C.Bamford).
                                    <br>
                                    Страна производства: Germany.
                                    <br>
                                    <h3>Цена: 38000 ₽</h3>
                                    Артикул: 20/925579</span>
                                    <br>
                                    Наличие на складе: есть
                                </p>
                                <div class="pro-content-center">
                            <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Купить</a>
                            </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="#">
                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <h4><a href="#">Гидравлический насос</a></h4>
                                <p><span class="price">
                                    Производитель: Parker (use for J.C.Bamford).
                                    <br>
                                    Страна производства: Germany.
                                    <br>
                                    <h3>Цена: 38000 ₽</h3>
                                    Артикул: 333/G5393</span>
                                    <br>
                                    Вес: 9 кг
                                    <br>
                                    Наличие на складе: есть
                                </p>
                                <div class="pro-content-center">
                            <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Купить</a>
                            </div>
                            </div>
                            <!-- Product Content End -->
                            <span class="sticker-new">-30%</span>
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="#">
                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <h4><a href="#">Гидравлический насос</a></h4>
                                <p><span class="price">
                                    Вид: шестеренчатый двухсекционный.
                                    <br>
                                    Производитель: Parker (use for J.C.Bamford).
                                    <br>
                                    Страна производства: Germany.
                                    <br>
                                    <h3>Цена: 38000 ₽</h3>
                                    Артикул: 20/925579</span>
                                    <br>
                                    Наличие на складе: есть
                                </p>
                                <div class="pro-content-center">
                            <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Купить</a>
                            </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="#">
                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <h4><a href="#">Гидравлический насос</a></h4>
                                <p><span class="price">
                                    Производитель: Parker (use for J.C.Bamford).
                                    <br>
                                    Страна производства: Germany.
                                    <br>
                                    <h3>Цена: 38000 ₽</h3>
                                    Артикул: 333/G5393</span>
                                    <br>
                                    Вес: 9 кг
                                    <br>
                                    Наличие на складе: есть
                                </p>
                                <div class="pro-content-center">
                            <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Купить</a>
                            </div>
                            </div>
                            <!-- Product Content End -->
                            <span class="sticker-new">-32%</span>
                        </div>
                    </div>
                    <!-- Single Product End -->                    
                </div>
            </div>
        </div> 
        <!-- Product Area End --> 
</div>
<!-- Slider Area Start 
        <div class="slider-area pb-60">
            <div class="slider-wrapper theme-default  nivo2">

                <div id="slider" class="nivoSlider">
                    <a href="shop.html"><img src="catalog/view/theme/Jantrik/jantrik/img/slider/6.jpg" data-thumb="catalog/view/theme/Jantrik/jantrik/img/slider/6.jpg" alt="" title="#slider-1-caption1"/></a>
                    <a href="shop.html"><img src="catalog/view/theme/Jantrik/jantrik/img/slider/6.jpg" data-thumb="catalog/view/theme/Jantrik/jantrik/img/slider/6.jpg" alt="" title="#slider-1-caption2"/></a>
                </div>

                <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                    <div class="text-content-wrapper">
                        <div class="container">
                            <div class="text-content">
                                <h4 class="title2 wow bounceInLeft mb-16" data-wow-duration="2s" data-wow-delay="0s">Добро пожаловать</h4>
                                <h1 class="title1 wow bounceInRight mb-16" data-wow-duration="2s" data-wow-delay="1s">Запчасти JCB</h1>
                                <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                    <a class="button slider-btn" href="shop.html">Подробнее</a>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
--> 
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="catalog/view/theme/Jantrik/jantrik/img/brand/1.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        
        <!-- Banner Start -->
        <div class="upper-banner banner pb-60">
            <div class="container">
               <div class="row">
                   <!-- Single Banner Start -->
                   <div class="col-sm-6">
                        <div class="single-banner zoom">
                            <a href="#"><img src="img/banner/2.png" alt="slider-banner"></a>
                        </div>
                    </div>
                   <!-- Single Banner End -->
                    <!-- Single Banner Start -->
                   <div class="col-sm-6">
                        <div class="single-banner zoom">
                            <a href="#"><img src="img/banner/2.png" alt="slider-banner"></a>
                        </div>
                    </div>
                   <!-- Single Banner End -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>                                
        <!-- Banner End -->
        <!-- New Products Start -->
        <div class="new-products pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-8  order-lg-2">
                        <!-- New Pro Content End -->
                        <div class="new-pro-content">
                            <div class="pro-tab-title border-line">
                                <!-- Featured Product List Item Start -->
                                <ul class="nav product-list product-tab-list">
                                    <li><a  class="active" data-toggle="tab" href="#new-arrival">Запчасти 3СХ JCB</a></li>
                                    <li><a data-toggle="tab" href="#toprated">Запчасти 4СХ JCB</a></li>
                                </ul>
                                <!-- Featured Product List Item End -->
                            </div>
                            <div class="tab-content product-tab-content jump">
                                <div id="new-arrival" class="tab-pane active">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Двигатель</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Система охлаждения</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Фильтры</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Гидравлическая система</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Тормозная система</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                                <!-- New Products End -->
                                <div id="toprated" class="tab-pane">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория 2</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория 2</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория 2</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/1.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="#">
                                                    <img class="primary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                    <img class="secondary-img" src="catalog/view/theme/Jantrik/jantrik/img/products/2.jpg" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">               
                                                <h4><a href="#">Подкатегория</a></h4>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                            </div>
                            <!-- Tab-Content End -->
                            <div class="single-banner zoom mt-30 mt-sm-10">
                            <a href="#"><img src="img/banner/tab-banner.jpg" alt="slider-banner"></a>
                        </div>
                        </div>
                        <!-- New Pro Content End -->                        
                    </div>
                </div>

            </div>
            <!-- Container End -->
        </div>
        <!-- New Products End -->
        <!-- Company Policy Start -->
        <div class="company-policy pb-60">
            <div class="container">
                <div class="row">
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/1.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Доствка курьером или транспортой компанией</h3>
                                <p>В любой регион страны!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/2.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Квалифицированая Служба поддержки</h3>
                                <p>Посторается найти решение для любого клиента индивидуально</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/3.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Возврат средств в случае брака</h3>
                                <p>При предоставлении нужных документов</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/4.png" alt="">
                            </div>
                              <div class="policy-desc">
                                <h3>Постоянные скидки, Распродажи</h3>
                                <p>Выгодные предложения для владльцев</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                </div>
            </div>
        </div>
        <!-- Company Policy End -->              
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>Блог</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Шкворни на JCB, эксплуатация и замена</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Пальцы на JCB, особенности и советы</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Какой двигатель на JCB лучше Perkins или DieselMax?</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                     <!-- Single Blog Start -->
                     <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Как правильно подобрать масла на JCB</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                     <!-- Single Blog Start -->
                     <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Как снять ТНВД на двигателях Perkins и DISELMAX JCB 3CX , JCB 4 CX</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                     <!-- Single Blog Start -->
                     <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Как правильно выбрать гидромолот?/Полезная информация для владельцев спецтехники</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
{{ footer }}