{{ header }}
{{ hyper_positions_top_content }}

<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
        <!-- Banner Start -->
        <div class="upper-banner banner pb-60">
            <div class="container">
               <div class="row">
                   <!-- Single Banner Start -->
                   <div class="col-sm-6">
                        <div class="single-banner zoom">
                            <a href="#"><img src="img/banner/2.png" alt="slider-banner"></a>
                        </div>
                    </div>
                   <!-- Single Banner End -->
                    <!-- Single Banner Start -->
                   <div class="col-sm-6">
                        <div class="single-banner zoom">
                            <a href="#"><img src="img/banner/2.png" alt="slider-banner"></a>
                        </div>
                    </div>
                   <!-- Single Banner End -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>                                
        <!-- Banner End -->
        
        <!-- Company Policy Start -->
        <div class="company-policy pb-60">
            <div class="container">
                <div class="row">
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/1.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Доствка курьером или транспортой компанией</h3>
                                <p>В любой регион страны!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/2.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Квалифицированая Служба поддержки</h3>
                                <p>Посторается найти решение для любого клиента индивидуально</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/3.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Возврат средств в случае брака</h3>
                                <p>При предоставлении нужных документов</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/4.png" alt="">
                            </div>
                              <div class="policy-desc">
                                <h3>Постоянные скидки, Распродажи</h3>
                                <p>Выгодные предложения для владльцев</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                </div>
            </div>
        </div>
        <!-- Company Policy End -->              
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>Блог</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Шкворни на JCB, эксплуатация и замена</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Пальцы на JCB, особенности и советы</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Какой двигатель на JCB лучше Perkins или DieselMax?</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                     <!-- Single Blog Start -->
                     <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Как правильно подобрать масла на JCB</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                     <!-- Single Blog Start -->
                     <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Как снять ТНВД на двигателях Perkins и DISELMAX JCB 3CX , JCB 4 CX</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                     <!-- Single Blog Start -->
                     <div class="single-blog">
                        <div class="blog-img">
                            <a href="#"><img src="catalog/view/theme/Jantrik/jantrik/img/banner/2.png" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="#">Как правильно выбрать гидромолот?/Полезная информация для владельцев спецтехники</a></h4>
                            <div class="readmore">
                                <a href="#">Читать далее.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
{{ footer }}