{{ header }}
<div id="common-home" class="container-fluid">
    <div class="row">
     {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-12 col-xs-12 col-md-12 col-lg-8 col-xl-8' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-12 col-xs-12 col-md-12 col-lg-10 col-xl-10' %}
        {% else %}
        {% set class = 'col-sm-12 col-xs-12 col-md-12 col-lg-10 col-xl-10' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
        {{ column_right }}
    </div>
</div>
        <!-- Company Policy Start -->
        <div class="company-policy pb-60">
            <div class="container">
                <div class="row">
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/1.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Доствка курьером или транспортой компанией</h3>
                                <p>В любой регион страны!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/2.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Квалифицированая Служба поддержки</h3>
                                <p>Посторается найти решение для любого клиента индивидуально</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/3.png" alt="">
                            </div>
                            <div class="policy-desc">
                                <h3>Возврат средств в случае брака</h3>
                                <p>При предоставлении нужных документов</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                    <!-- Single Policy Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-policy">
                            <div class="icone-img">
                                <img src="catalog/view/theme/Jantrik/jantrik/img/icon/4.png" alt="">
                            </div>
                              <div class="policy-desc">
                                <h3>Постоянные скидки, Распродажи</h3>
                                <p>Выгодные предложения для владльцев</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Policy End -->
                </div>
            </div>
        </div>
        <!-- Company Policy End -->              
        
                
                 
{{ footer }}