{% if categories %}
    
    <nav id="menu" class="navbar">
    <div class="row">
      <div class="navbar-header">
        <a href="{{ home }}"><img class="logoHeaderSmall" src="catalog/view/theme/Jantrik/jantrik/img/logo/logo.png" alt="logo-image"></a>
        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      </div>
      <div class="col-md-3 col-sm-2 logo">
        
          <a href="{{ home }}"><img class="logoAd" src="catalog/view/theme/Jantrik/jantrik/img/logo/logo.png" alt="logo-image"></a>
        
      </div>
      <div class="col-md-6 col-sm-8">
      <div class="collapse navbar-collapse navbar-ex1-collapse menucvet ">
      <div class="contactinfo">
        <ul class="nav navbar-nav">
          <li><a href="{{ home }}" class="menu__item">Главная</a></li>
         {% for category in categories %}
          {% if category.children %}
        <li class="dropdown menu__item"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li class = "menu__item"><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
          <li><a href="{{ contact }}" class="menu__item">О нас</a></li>
          <li><a href="/index.php?route=extension/module/manudesc" class="menu__item">Поставщики</a></li>
          

        </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12 mh40">
        <div class="header-top-left pull-right">
            <i class="fa fa-phone-square"></i> +7 (999) 999-99-99
        </div>
      </div>
    </div>
    </nav>
{% endif %} 