{% if categories %}
<!-- Header Bottom Start -->
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                    <div class="col-xl-3 col-lg-2 col-sm-5 col-5 d-center">
                            <div class="header-top-left">
                               <i class="fa fa-phone-square"></i> +7 (999) 999-99-99
                            </div>                        
                        </div>
                        
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="middle-menu pull-right">
                                <nav>
                                    <ul class="middle-menu-list">
                                        <li><a href="index.html">Главная<i class="fa fa-angle-down"></i></a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="ht-dropdown home-dropdown">
                                                <li><a href="index.html">Вариант №1</a></li>
                                                <li><a href="index-2.html">Вариант №2</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="#">О нас</a></li>                                        
                                        <li><a href="#">Категории<i class="fa fa-angle-down"></i></a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="ht-dropdown dropdown-style-two">
                                                <li><a href="#">Подкатегория</a>
                                                    <!-- Start Two Step -->
                                                    <ul class="ht-dropdown dropdown-style-two sub-menu">
                                                        <li><a href="#">Подкатегория</a>
                                                        </li>
                                                        <li><a href="#">Подкатегория</a></li>
                                                        <li><a href="#">Подкатегория</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>                                        
                                        <li><a href="#">Блог<i class="fa fa-angle-down"></i></a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="ht-dropdown dropdown-style-two">
                                                <li><a href="#">Блог 1</a></li>
                                                <li><a href="#">Блог 2</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="#">Связаться с нами</a></li>                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Search Box End -->
                        <!-- Cartt Box Start -->
                        <div class="col-lg-3 col-sm-7 col-7">
                            <div class="cart-box text-right">
                                <ul>
                                    <li><a href="#"><i class="fa fa-shopping-basket"></i><span class="cart-counter">2</span></a>
                                        <ul class="ht-dropdown main-cart-box">
                                            <li>
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/menu/1.jpg" alt="cart-image"></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="#">Товар 1</a></h6>
                                                        <span>9999 руб</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="fa fa-window-close-o"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/menu/2.jpg" alt="cart-image"></a>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="#">Товар 2</a></h6>
                                                        <span>9999</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="fa fa-window-close-o"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer fix">
                                                    <h5>Итого :<span class="f-right">9999</span></h5>
                                                    <div class="cart-actions">
                                                        <a class="checkout" href="#">Купить</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cartt Box End -->
                        <div class="col-sm-12 d-lg-none">
                            <div class="mobile-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Главная</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="index.html">Вариант №1</a></li>
                                                <li><a href="index-2.html">Вариант №2</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="#">Категории</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="#">Категории</a>
                                                    <ul>
                                                        <li><a href="#">Подкатегория</a></li>
                                                        <li><a href="#">Подкатегория</a></li>
                                                        <li><a href="#">Подкатегория</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                                <li><a href="#">Подкатегория</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="#">Блог</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="#">Blog Details Page</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="#">О нас</a></li>
                                        <li><a href="#">Связь</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu  End -->                        
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End -->
<!--<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>-->
{% endif %} 