<h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    
    <div class="product-thumb transition">
    <div class="productBox">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {# ЭТО НАЧАЛО БЛОКА ДЛЯ ВЫВОДА СПЕЦАТРИБУТОВ ПО ТЗ #}
          {# <p>{{ product.description }}</p> #}
          <p>Артикул: {{product.sku}}</p>
          <p>Кросс-номера: {{product.attribute_groups}}</p>
          <p>Производитель: {{product.manufacturer}}</p>
        {# ЭТО КОНЕЦ БЛОКА ДЛЯ ВЫВОДА СПЕЦАТРИБУТОВ ПО ТЗ #}
      </div>
      <div class="button-group">
        <button class="buttonK" type="button">{{ product.price }}</button>
        <button type="button" onclick="cart.add('{{ product.product_id }}');">{{ button_cart }}</button>
        <a href="{{ product.href }}"><div class="buttonShopB">Подробнее</div></a>
      </div>
    </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>
