{{ header }}
<div id="information-information" class="container">
  <div class="row">
    <div id="content" class="{{ class }}">
    <h1>ПРОИЗВОДИТЕЛИ</h1>
    {% for manufacturer in manufacturers %}
    <div class = "col-xs-12" id = "manufacturer-{{manufacturer.manufacturer_id}}" style = "border: 1px solid black;">
      <div class = "col-xs-12 col-md-3 text-center">
        <img class="img-postavka" src = "/image/{{manufacturer.image}}">
        <h1>{{manufacturer.name}}</h1>
      </div>
    <div class = "col-md-9">
      <p>{{manufacturer.desc}}</p>
      <a href = {{manufacturer.link}}><div class="BTN-siteDel">САЙТ ПОСТАВЩИКА</div></a>
      <a href = "/?route=product/manufacturer/info&manufacturer_id={{manufacturer.manufacturer_id}}"><div class="BTN-siteDel1">ТОВАРЫ ПОСТАВЩИКА</div></a>
    </div>
    </div>
    
    {% endfor %}
    {{ content_bottom }}
    </div>
    {{ column_right }}
</div>
</div>
{{ footer }}