{{ header }}
<div class="container">
    <div id="information-information" class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
    <div id="content" class="{{ class }}">
       <h1>{{heading_title}}</h1>
            <h3>{{engine_type}}</h3>
            <div class="btnEnginePanel col-sm-6">
                <div class="row">
                    <a href = "?route=extension/module/scheme&sc_cat_id={{sc_cat_id}}&engine=1"><div class="btnEngineType col-sm-4 text-center {% if engine == 1 %} btnEngineTypeactive {% endif %}">3 СХ</div></a>
                    <a href = "?route=extension/module/scheme&sc_cat_id={{sc_cat_id}}&engine=2"><div class="btnEngineType col-sm-4 text-center {% if engine == 2 %} btnEngineTypeactive {% endif %}">4 СХ</div></a>
                    <a href = "?route=extension/module/scheme&sc_cat_id={{sc_cat_id}}&engine=0"><div class="btnEngineType col-sm-4 text-center {% if engine == 0 %} btnEngineTypeactive {% endif %}">{{engine_universal}}</div></a>
                </div>
            </div>
            <h3 class="col-sm-12">{{category_title}}</h3>
            <div class = 'col-md-12'>
            {% for cat in cats %}
            <a class =" btn btn-warning TMBTNS {% if sc_cat_id == cat.id %} active {% endif %}"
            href = "?route=extension/module/scheme&sc_cat_id={{cat.id}}&engine={{engine}}"> {{cat.name}}</a>     
            {% endfor %}
            </div>
       <div class = 'col-md-12'>
       {% for scheme in schemes %}
       <div class = 'col-md-3 scheme_page_block' {% if sc_id == scheme.id %} style = "box-shadow: 0 0 10px rgba(0,0,0,0.5); background: rgb(245, 245, 247);" {% endif %}>
            <a href = "{{cat_link}}&scheme_id={{scheme.id}}"><img width = "80%" src = "/image/scheme/{{scheme.image}}">
            <h4>{{scheme.name}}</h4></a>
        </div>
       {% endfor %}
       </div>
       {% if scheme %}
  <div class = "col-md-12 margintop_SCHEME text-center">
        <canvas  id = "canv-1" height='480' width='768' style = "background:url('/image/scheme/{{scheme.image}}'); 
    background-repeat:no-repeat;
	  background-size: contain;
  	background-position: center; " class = "JCB-src" > </canvas>
     </div>
   <div class = "col-md-12 margintop_SCHEME">
    <table border = "1" id = "point-form" width = "100%">
    <tr>
    <th>№</th>
    <th>{{text_point}}</th>
    </tr>
    {% for point in points %}
    <tr>
        <td><input name="point[]" type="hidden" value = "{{point.num}}"> {{point.num}} </td>
        <input name="x-coord[]" type="hidden" value="{{point.x}}">
        <input name="y-coord[]" type="hidden" value="{{point.y}}">
        <td><input name="desc[]" type="hidden" value = "{{point.desc}}">{{point.desc}}</td>
        <td class="BTNtabs"><a target="_blank" href = "{{product_link}}&filter={{point.filter}}">{{text_link}}</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>
    {% endif %}
    </div>
    {{ column_right }}</div>
</div>
{# PRODUCTS START #}
 {% if products %}
      <div class="row">
      
        <div class="col-md-2 col-sm-6 hidden">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="container"> {% for product in products %}
        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
          <div class="product-thumb transition">
          <div class="productBox">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              {# ЭТО НАЧАЛО БЛОКА ДЛЯ ВЫВОДА СПЕЦАТРИБУТОВ ПО ТЗ #}
                {# <p>{{ product.description }}</p> #}
                <p>Артикул: {{product.sku}}</p>
                <p>Кросс-номера: {{product.attribute_groups}}</p>
                <p>Производитель: {{product.manufacturer}}</p>
              {# ЭТО КОНЕЦ БЛОКА ДЛЯ ВЫВОДА СПЕЦАТРИБУТОВ ПО ТЗ #}
            </div>
            <div class="button-group">
              <button class="buttonK" type="button">{{ product.price }}</button>
              <button type="button" onclick="cart.add('{{ product.product_id }}');">{{ button_cart }}</button>
              <a href="{{ product.href }}"><div class="buttonShopB">Подробнее</div></a>
            </div>
          </div>
          </div>
        </div>
        </a>
        {% endfor %}</div></div>
      <div class="row">
        <div class="col-sm-12 text-center">
            <a  class="btn btn-warning" href = "{{prod_link}}" target = "_blank" >Все товары этой категории</a>
        </div>
      </div>
      {% endif %}
<script type="text/javascript" src="catalog/view/javascript/scheme.js"></script>
{{ footer }}